@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/LayoutView.cshtml";
}

<h2>HomePage</h2>
<html>
    <body>
        <b>User ID</b>@Session["uid"]
        </br>
      <b>User Name</b>@Session["name"]
    </body>
</html>
