@{
    ViewBag.Title = "IsueBook";
    Layout="~/Views/Shared/LayoutView.cshtml";
}
@model  
<h2>IsueBook</h2>
<html>
    <body>
        <h1 align="center">Book Issue From</h1>
        @(Html.BeginForm())
        {
            <b>Member ID</b>@Html.TextBox("txtM")
             <input type="submit" value="Search" />
        <b>

        </b>


        }


        </body>
    </html>
